.textContainer {
    border: 1px solid #000;
}

.textContainer > p {
    font-weight: 700;
}

.formContainer {
    border: 1px solid #000;
    background-color: rgb(191, 221, 231);
}

.labelLarge {
    width: 150px;
}

.labelSmall {
    width: 350px;
}

.formButton {
    border: 1px solid #000;
}

